<main>
    <h1>{{title}}</h1>

    <p>To create a meeting, simply input all the required fields below and click the submit button (or Enter key)!</p>
    <p>Usage Notes:</p>
    <ul>
        <li>Duration must be a number representing the number of hours the meeting will take. This only supports half-hour increments, like "1" for an hour or "2.5" for two and a half hours.</li>
        <li>The possible date range for this meeting includes all dates between the Start and End Date (inclusive), with a limit of 20 date options per meeting.</li>
        <li>Within each selected date for this meeting, users can select their availability for every 30-minute increment between the Start and End Times. This range must be at least as long as the meeting's Duration!</li>
        <li>A meeting's date and time ranges CANNOT be edited after the event is created, so be sure to get them right the first time!</li>
    </ul>

    <p id="error"></p>
    <form method="POST" name="createMeeting" id="createMeeting">
        <label for="titleInput">Title:</label>
        <input name="name" id="titleInput" type="text" />
        <br />
        <label for="descriptionInput">Description:</label>
        <input name="description" id="descriptionInput" type="text" />
        <br />
        <label for="durationInput">Duration (hours):</label>
        <input name="duration" id="durationInput" type="number" step="0.5" min="0.5" max="24" />
        <br />
        <label for="dateStartInput">Start Date:</label>
        <input name="dateStart" id="dateStartInput" type="date" min="{{todayStr}}" />
        <br />
        <label for="dateEndInput">End Date:</label>
        <input name="dateEnd" id="dateEndInput" type="date" min="{{todayStr}}" />
        <br />
        <label for="timeStartInput">Start Time:</label>
        <select name="timeStart" id="timeStartInput" type="text">
            <option value="">--Choose a time--</option>
            {{#for 0 48 1}}
            <option value="{{this}}">{{convertIndexToLabel this}}</option>
            {{/for}}
        </select>
        <br />
        <label for="timeEndInput">End Time:</label>
        <select name="timeEnd" id="timeEndInput" type="text">
            <option value="">--Choose a time--</option>
            {{#for 1 49 1}}
            <option value="{{this}}">{{convertIndexToLabel this}}</option>
            {{/for}}
        </select>
        <br />
        <input type="submit" value="Create Meeting" />
    </form>
</main>

<script type="module" src="/public/js/forms/validateMeetingForms.js"></script>
