<main>
    <div class="view-meetings-grid">
        {{!-- header for meeting details --}}
        <div class="title-bar">
            <h1 style="margin-right: 20px">{{title}}</h1>
            <br />
            <p>Description: {{description}}</p>
            <p>Duration: {{duration}}</p>
            <div class="title-bar-actions">
                {{#if isOwner}}
                <a href="/meetings/{{meetingId}}/edit" class="editBookMeeting"> <img src="/public/icons/calendar-lines-pen-svgrepo-com.svg" alt="Calendar Edit" class="button-image" /> Edit Meeting</a>
                {{/if}}
                <a href="/meetings/{{meetingId}}" id="linkShareButton" class="linkShareButton"> <img src="/public/icons/link-svgrepo-com.svg" alt="Link Icon" class="button-image" />Copy Meeting Link</a>
            </div>
        </div>

        {{!-- Container for calendar element + details --}}
        <div id="calendarSection" class="calendar-section">
            <div class="calendar-wrapper">
                <div class="calendar" style="--day-count: {{days.length}}">
                    {{!-- indicate whether the user is viewing the group availability or editing their own --}}
                    <div id="calendar-title-header">Group's Availability</div>

                    {{!-- column with labels for hour markings --}}
                    <div class="time-column">
                        {{#each timeColumn}}
                        <div class="time-column-timestamp {{#if small}}time-column-timestamp-small{{/if}}">{{label}}</div>
                        {{/each}}
                    </div>

                    {{#each processedResponses}} {{!-- Spawn a column with header & cells for each day of meeting. Data is formatted as a 2D array of days then timeslots. --}}
                    <div class="calendar-column">
                        <div class="calendar-column-header">
                            {{#with (at_index ../days @index)}}
                            <p class="calendar-column-header-text">{{date}}</p>
                            <p class="calendar-column-header-text">{{dow}}</p>
                            {{/with}}
                        </div>
                        <div class="calendar-cells">
                            {{#each this}} {{!-- generate all timeslots (as cells) for group availability and individual responses (which are hidden at first). Each cell color is rendered based on matrix data --}}
                            <div class="timeslot response-merged" style="background-color: rgba(106, 90, 205, {{multiplyOpacity this.merged}});"></div>
                            <div class="timeslot response-slot {{#if (equal? this.user 2)}}blocked-out-slot {{/if}} {{#if (equal? this.user 0)}} selected {{/if}}" hidden></div>
                            {{/each}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            <br />

            {{!-- display the computed best meeting times --}}
            <div id="best-times-section">
                {{#if bookedTime}} {{!-- display a different message if the meeting has already been booked --}}
                <h3>Meeting Booking</h3>
                <h4>This meeting has been booked for {{formatDate bookedTime.date}} from {{convertIndexToLabel bookedTime.timeStart}} to {{convertIndexToLabel bookedTime.timeEnd}}!</h4>
                <p>This time was selected by the meeting owner based on the group's collective availabilities!</p>

                {{else if isCancelled}} {{!-- show a cancellation message --}}
                <h3>Meeting Cancelled</h3>
                <p>This meeting was cancelled by the owner. All responses are still saved, but a meeting time cannot be booked unless the meeting is restored first.</p>

                {{else}} {{!-- show the computed times --}}
                <h3>Recommended Meeting Times</h3>

                <p>Below is a list of the computed best times for this meeting based on the group's collective availabilities!</p>

                <br />
                {{#if bestTimes.length}} {{!-- todo PV: make a jQuery button to hide the times that are too short --}}
                <ul>
                    {{#each bestTimes}}
                    <li class="{{#if tooShort}}best-time-tooshort{{/if}}">{{formatDate date}}: &ensp;{{convertIndexToLabel timeStart}} - {{convertIndexToLabel timeEnd}} &ensp;({{users}} users) {{#if tooShort}}&emsp;(too short){{/if}}</li>
                    {{/each}}
                </ul>
                {{else}}
                <p>There are currently no best times for this meeting!</p>
                {{/if}} {{/if}} {{!-- end of `bookedTime` conditional --}}
                <br />

                {{#if isOwner}} {{#if bookedTime}} {{!-- owner-only section for actually booking the meeting --}}
                <p>Want to change this meeting's booking time? Remove the booking using this button, and the best times will be recomputed so you can choose a different time!</p>
                <p>Keep in mind that users who have responded to this meeting will need to accept the new booked time again, even if they already accepted previously!</p>

                <form method="POST" name="unbookMeeting" id="unbookMeeting" action="/meetings/{{meetingId}}/edit">
                    {{!-- todo MG to PV - add styling and a confirmation prompt to this button --}}
                    <button type="submit" name="action" value="unbook">Remove Meeting Booking</button>
                </form>

                {{else if isCancelled}}
                <p>To restore the meeting, visit the <a href="/meetings/{{meetingId}}/edit">Edit Meeting</a> page.</p>

                {{else}}
                <h4>Book a Meeting Time</h4>
                <p>Use the dropdown to select the start time for your meeting within one of the computed best meeting times! The end time is automatically calculated based on the meeting's duration of {{duration}}.</p>

                <p id="booking-error"></p>
                <form method="POST" name="bookMeeting" id="bookMeeting" action="/meetings/{{meetingId}}/edit" data-best-times="{{bestTimesJSON}}">
                    <label for="dateInput">Date:</label>
                    <input name="date" id="dateInput" type="date" min="{{get_prop (at_index bestTimes 0) 'minmaxDate'}}" max="{{get_prop (last_elem bestTimes) 'minmaxDate'}}" />
                    <br />
                    <label for="timeStartInput">Start Time:</label>
                    <select name="timeStart" id="timeStartInput">
                        <option value="">--Choose a time--</option>
                        {{#for 0 48 1}}
                        <option value="{{this}}">{{convertIndexToLabel this}}</option>
                        {{/for}}
                    </select>
                    <br />
                    <button type="submit" name="action" value="book">Book Meeting</button>
                </form>

                {{/if}}{{/if}} {{!-- end of `isOwner` conditional --}}
            </div>
        </div>

        {{!-- Container for filling in responder info --}}
        <div class="response-section" id="responseSection">
            <h2>Responses & Other</h2>
            {{#if viewerNotResponse}}
            <p>You've not responded to this meeting yet!</p>
            {{/if}}
            <div id="responsePeopleSection">
                <h4 id="responsePeopleHeader">Respondents:</h4>
                <div id="responsePeople">
                    <p>Hover over the calendar to see who's available!</p>
                </div>
            </div>
            <div class="title-bar-actions">
                <button id="edit-response-button" class="response-button">
                    <img src="/public/icons/pencil-svgrepo-com.svg" alt="Edit Meeting" class="button-image" />
                    Respond
                </button>
                <button id="submit-response-button" hidden class="response-button"><img src="/public/icons/paper-airplane-svgrepo-com.svg" alt="Edit Meeting" class="button-image" />Submit</button>
            </div>
        </div>

        {{!-- scrollable container for comments --}}
        <div class="comments-section">
            <h2>Comments</h2>
            <form method="POST" name="commentsForm" id="commentsForm" class="comments-form" action="./note">
                <label for="commentInput" class="hidden-label">Enter a Comment:</label>
                <textarea id="commentInput" class="text-input commentInput" placeholder="Add a comment."></textarea>
                <button type="submit" id="commentSend" class="send-icon-comment"></button>
            </form>
            {{#if comments.length}} {{!-- If comments exist, make a div for each one --}}
            <p id="comment-count" data-comment-length="{{comments.length}}">{{comments.length}} comments</p>
            {{#each comments}}
            <div class="comment-wrapper" id="commentWrapper{{this._id}}">
                <div class="comment" id="comment{{this._id}}">
                    <a href="/profile/{{this.uid}}"><img src="/public/images/{{this.uid}}.jpg" alt="{{this.uid}}" class="mini-pfp" /></a>
                    <p>Author: <a href="/profile/{{this.uid}}">{{this.uid}}</a> {{#if this.isViewerComment}} (You) {{/if}}</p>
                    <p>Text: {{this.body}}</p>
                    <p>Created at: {{{this.dateCreated}}}</p>
                    {{#if this.dateUpdated}}
                    <p>Edited on: {{this.dateUpdated}}</p>
                    {{/if}}
                    <button id="commentLike{{this._id}}" class="likeIcon {{this.liked}}"></button>
                    <button id="commentDislike{{this._id}}" class="dislikeIcon {{this.disliked}}"></button>
                    {{#if this.isViewerComment}}
                    <button id="commentEdit{{this._id}}" class="editIcon"></button>
                    <button id="commentTrash{{this._id}}" class="trashIcon"></button>
                    {{/if}}
                </div>
            </div>
            {{/each}} {{!-- If they don't exist, do something else --}} {{else}}
            <p id="comment-count" data="0">0 comments</p>
            <p id="commentStart">Start the conversation by adding your own comment!</p>
            {{/if}}
        </div>

        {{!-- Container for note --}}
        <div class="notes-section" id="noteSection">
            <h2>Notes</h2>
            <form method="POST" name="notesForm" id="notesForm" class="notes-form" action="./note">
                <label for="noteInput" class="hidden-label">Enter a Note:</label>
                {{#if note}}
                <textarea id="noteInput" name="noteInput" class="prev-Note text-input" placeholder="Add a private note."></textarea>
                {{else}}
                <textarea id="noteInput" name="noteInput" class="text-input" placeholder="Add a private note."></textarea>
                {{/if}}
                <button type="submit" id="noteSend" class="send-icon"></button>
            </form>
        </div>
    </div>
</main>

<script type="module" src="../../public/js/forms/calendarActions.js"></script>
<script type="module" src="../../public/js/pages/note.js"></script>
<script type="module" src="../../public/js/pages/comments.js"></script>
<script type="module" src="/public/js/pages/miscBinds.js"></script>
<script type="module" src="../../public/js/forms/validateMeetingForms.js"></script>
