<main>
    <div class="grid-container">
        {{!-- header for meeting details --}}
        <div class="title-bar">
            <h1>{{title}}</h1>
            <br />
            <p>Description: {{description}}</p>
            <p>Duration: {{duration}}</p>
        </div>

        {{!-- Container for calendar element + details --}}
        <div class="calendar-section">
            <h2>Meeting Calendar</h2>

            {{!-- You MUST specify a # of days in style attribute to properly render the calendar! --}}
            <div class="calendar-wrapper">
                <div class="calendar" style="--day-count: {{days.length}}">
                    {{!-- indicate whether the user is viewing the group availability or editing their own --}}
                    <div id="calendar-title-header">Group's Availability</div>

                    {{!-- column with labels for hour markings --}}
                    <div class="time-column">
                        {{#each timeColumn}}
                        <div class="time-column-timestamp {{#if small}}time-column-timestamp-small{{/if}}">{{label}}</div>
                        {{/each}}
                    </div>

                    {{#each responses}} {{!-- Spawn a column with header & cells for each day of meeting. Data is formatted as a 2D array of days then timeslots. --}}
                    <div class="calendar-column">
                        <div class="calendar-column-header">
                            {{#with (at_index ../days @index)}}
                            <p class="calendar-column-header-text">{{date}}</p>
                            <p class="calendar-column-header-text">{{dow}}</p>
                            {{/with}}
                        </div>
                        <div class="calendar-cells">
                            {{#each this}} {{!-- generate all timeslots (as cells) for group availability and individual responses (which are hidden at first). Each cell color is rendered based on matrix data --}}
                            <div class="timeslot" style="background-color: rgba(106, 90, 205, {{multiplyOpacity this}});"></div>
                            <div class="timeslot response-slot" hidden></div>
                            {{/each}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            <button id="edit-response-button">Respond: (Put a Pencil Icon)</button>
            <button id="submit-response-button" hidden>Submit</button>
            {{#if isOwner}}
            <br />
            <a href="/meetings/{{meetingId}}/edit">Edit or Book Meeting</a>
            {{/if}}
        </div>

        {{!-- Container for filling in responder info --}}
        <div class="response-section">
            <h2>Responses & Other</h2>
            <p>fill remaining space</p>
        </div>

        {{!-- scrollable container for comments --}}
        <div class="comments-section">
            <h2>Comments</h2>
            {{#if comments.length}} {{!-- If comments exist, make a div for each one --}}
            <p>{{comments.length}} comments</p>

            {{#each comments}}
            <div class="comment">
                <p>Author: {{this.uid}}</p>
                <p>Text: {{this.body}}</p>
                <p>Created at: {{this.dateCreated}}</p>
                {{#if this.dateUpdated}}
                <p>Last edited: {{this.dateUpdated}}</p>
                {{/if}}
            </div>
            {{/each}} {{else}} {{!-- If they don't exist,: do something else --}}
            <p>No comments to display!</p>
            {{/if}}
        </div>

        {{!-- Container for note --}}
        <div class="notes-section">
            <h2>Notes</h2>
            <p>Add a private note.</p>
        </div>
    </div>
</main>

<script src="../../public/js/forms/calendarActions.js"></script>
