<main>
    <div class="grid-container">
        {{!-- header for meeting details --}}
        <div class="title-bar">
            <h1>{{title}}</h1>
            <br />
            <p>Description: {{description}}</p>
            <p>Duration: {{duration}}</p>
            {{#if isOwner}}
            <br />
            <a href="/meetings/{{meetingId}}/edit">Edit Meeting</a>
            {{/if}}
            <br />
            <p>Share this meeting using the link below!</p>
            <a id="share-link" href="https://localhost:3000/meetings/{{meetingId}}">Shareable Meeting Link</a> {{!-- TODO make this link to an actual domain if we can get one --}}
        </div>

        {{!-- Container for calendar element + details --}}
        <div class="calendar-section">
            <h2>Meeting Calendar</h2>
            <p>When viewing the group's overall availability, a darker color means that more people are available at a particular time. When editing your own availability, green indicates that you ARE available while red indicates that you are NOT available.</p>

            {{!-- You MUST specify a # of days in style attribute to properly render the calendar! --}}
            <div class="calendar-wrapper">
                <div class="calendar" style="--day-count: {{days.length}}">
                    {{!-- indicate whether the user is viewing the group availability or editing their own --}}
                    <div id="calendar-title-header">Group's Availability</div>

                    {{!-- column with labels for hour markings --}}
                    <div class="time-column">
                        {{#each timeColumn}}
                        <div class="time-column-timestamp {{#if small}}time-column-timestamp-small{{/if}}">{{label}}</div>
                        {{/each}}
                    </div>

                    {{#each responses}} {{!-- Spawn a column with header & cells for each day of meeting. Data is formatted as a 2D array of days then timeslots. --}}
                    <div class="calendar-column">
                        <div class="calendar-column-header">
                            {{#with (at_index ../days @index)}}
                            <p class="calendar-column-header-text">{{date}}</p>
                            <p class="calendar-column-header-text">{{dow}}</p>
                            {{/with}}
                        </div>
                        <div class="calendar-cells">
                            {{#each this}} {{!-- generate all timeslots (as cells) for group availability and individual responses (which are hidden at first). Each cell color is rendered based on matrix data --}}
                            <div class="timeslot" style="background-color: rgba(106, 90, 205, {{multiplyOpacity this}});"></div>
                            <div class="timeslot response-slot" hidden></div>
                            {{/each}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            <button id="edit-response-button">Respond: (Put a Pencil Icon)</button>
            <button id="submit-response-button" hidden>Submit</button>

            {{!-- display the computed best meeting times --}}
            <div id="best-times-section">
                <h3>Recommended Meeting Times</h3>

                {{#if bestTimes.length}}
                <p>Select a meeting time within one of the computed best meeting times below!</p>

                {{!-- todo PV: make a jQuery button to hide the buttons that are too short --}}
                <ul>
                    {{#each bestTimes}}
                    <li class="{{#if tooShort}}best-time-tooshort{{/if}}">{{date}}: &ensp;{{timeStart}} - {{timeEnd}} &ensp;({{users}} users) {{#if tooShort}}&emsp;(too short){{/if}}</li>
                    {{/each}}
                </ul>
                {{else}}
                <p>There are currently no best times for this meeting!</p>
                {{/if}} {{#if isOwner}}
                <h4>Book a Meeting Time</h4>
                <p>Use the dropdown to select the start time for your meeting! The end time is automatically calculated based on the meeting duration of {{duration}}.</p>
                {{!-- todo select --}} {{/if}}
            </div>
        </div>

        {{!-- Container for filling in responder info --}}
        <div class="response-section">
            <h2>Responses & Other</h2>
            <p>fill remaining space</p>
        </div>

        {{!-- scrollable container for comments --}}
        <div class="comments-section">
            <h2>Comments</h2>
            <form method="POST" name="commentsForm" id="commentsForm" class="comments-form" action="./note">
                <label for="commentInput" class="hidden-label">Enter a Comment:</label>
                <textarea type="text" id="commentInput" name="commentInput" class="text-input" placeholder="Add a comment."></textarea>
                <button type="submit" id="commentSend" class="send-icon-comment" label="Send Note"></button>
            </form>
            {{#if comments.length}} {{!-- If comments exist, make a div for each one --}}
            <p id="comment-count" data="{{comments.length}}">{{comments.length}} comments</p>
            {{#each comments}}
            <div class="comment-wrapper" id="commentWrapper{{this._id}}">
                <div class="comment" id="comment{{this._id}}">
                    <p>Author: {{this.uid}}</p>
                    <p>Text: {{this.body}}</p>
                    <p>Created at: {{{this.dateCreated}}}</p>
                    {{#if this.dateUpdated}}
                    <p>Last edited: {{this.dateUpdated}}</p>
                    {{/if}} {{#if this.isViewerComment}}
                    <button id="commentTrash{{this._id}}" class="trashIcon" data="{{this._id}}"></button>
                    {{/if}}
                </div>
            </div>
            {{/each}} {{!-- If they don't exist, do something else --}} {{else}}
            <p id="comment-count" data="0">0 comments</p>
            <p id="commentStart">Start the conversation by adding your own comment!</p>
            {{/if}}
        </div>

        {{!-- Container for note --}}
        <div class="notes-section" id="noteSection">
            <h2>Notes</h2>
            <form method="POST" name="notesForm" id="notesForm" class="notes-form" action="./note">
                <label for="noteInput" class="hidden-label">Enter a Note:</label>
                {{#if note}}
                <textarea type="text" id="noteInput" name="noteInput" class="prev-Note" class="text-input" placeholder="Add a private note."></textarea>
                {{else}}
                <textarea type="text" id="noteInput" name="noteInput" class="text-input" placeholder="Add a private note."></textarea>
                {{/if}}
                <button type="submit" id="noteSend" class="send-icon" label="Send Note"></button>
            </form>
        </div>
    </div>
</main>

<script src="../../public/js/forms/calendarActions.js"></script>
<script type="module" src="../../public/js/pages/note.js"></script>
<script type="module" src="../../public/js/pages/comments.js"></script>
